#root {
  gap: 20px;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.logo {
  align-items: center;
  display: flex;
  font-family: 'Ultra', serif;
  letter-spacing: .2rem;
}

.brand h1:last-child {
  position: absolute;
  bottom: -1.5rem;
  color: #00E205;
  left: 1rem;

}

.steam {
  width: 5rem;

}

.brand {
  position: relative;
  margin-bottom: 1.2rem;
  font-size: 1.3rem;
}

.brand h1 {
  margin: 0;
  text-transform: uppercase;
}

.torrent {
  width: 5rem;
  margin-left: -3rem;
  margin-bottom: 2rem;
}

.card {
  color: #E2DFE0;
  width: 18rem;
  background-color: #161618;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: .8rem;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
}

.card a {
  font-size: 12px;
  padding: 5px;
  line-height: 1.428571429;
  color: #e8e5e0;
  background-color: #27282e;
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

}


.card-content {
  display: flex;
  flex-direction: column;
  padding: .5rem 1rem;
}

.card-content h3{
  margin-top: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.card-content span:last-child {
  margin-bottom: 2rem;
}

.img-container {
  height: 150px;

}

.card img {
  display: flex;
  width: 100%;
  top: 0;
}

.search {
  margin-left: -6rem;

}

.filter-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #161618;
  position: fixed;
  z-index: 50;
  height: 7rem;
  color: white;

}

.filter-wrapper button {
  border: none;
  background: #00E205;
  width: 80px;
  height: 2rem;
  cursor: pointer;
  font-weight: 700;
}

.filter-wrapper input {
  height: 2rem;

  width: 35rem;
  border: none;
  margin-right: -0.2rem;
  padding: 1rem;
}

.filter-wrapper input:focus {
  outline: transparent;
}



.main-page{
  display: flex;
  background-color: #27282E;
  width: 100%;
  justify-content: center;

}

.container{
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
  width: 80%;
  display: flex;
  margin-top: 5rem;
  background-color: #1D1C21;
  padding: 2rem;
  justify-content: space-between;

}
.card-container {
  display: flex;
  flex-wrap: wrap;

}



.hero {
  background-color: black;
  padding-top: 4rem;
  width: 100%;
  height: 40rem;
  min-height: 40rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
}

.hero > img{
  width: 20rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 14rem;
  left: 0;
  right: 0;
  text-align: center;
}

.hero-btn {
  width: 20rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 3rem;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  z-index: 31;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  font-weight: 700;
  letter-spacing: .1rem;
  border: none;
}

.hero-btn:hover {
  color: black;
  background-color: white;
  transition: all .3s;
}

.video {
  width: 100%;
  min-width: 100%;
  z-index: 30;
}

.filter-aside {
  background-color: #494A4F;
  width: 185rem;
  height: 30rem;
  padding: 1rem;
  color: #E8E5E0;
  width: 14rem;
  margin-left: 1rem;

}

.filter-container {
  display: flex;
  flex-direction: column;
  font-size: .8rem;

}

.filter-aside input {
  margin-bottom: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.filter-aside h2 {
  font-size: 1.2rem;


}



select, option {
  background-color: #494A4F;
  color: white;
  width: 12rem;
  margin: .2rem 0 .5rem 0 ;
}





